body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:528px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:20px;
  width:696px;
  height:528px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:692px;
  visibility:hidden;
  word-wrap:break-word;
}
